<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About_me</title>
    </head>
    <body>
        <div class="container_habilidades">
            <h1>Sobre Mí</h1>
            <p class="parrafo_about_me">👋 <b>Hola! Soy Marcos Bernard Calixto López</b>, desarrollador web en formación y egresado en <b>Ingeniería Electrónica</b>. Tengo experiencia en <b>firmware para microcontroladores PIC y Python</b>, y recientemente he ampliado mis conocimientos en <b>desarrollo web</b>.</p>
            <br>
            📚 Cuento con certificaciones en <b>gestión de bases de datos con SQL y Power BI</b> y manejo herramientas como <b>VScode, MPLABX, Proteus Design Suite, HTML, CSS, JavaScript, Git, GitHub, C/C++</b>, además de utilizar <b>inteligencia artificial</b> para optimizar mi aprendizaje y trabajo.
            <br><br>
            <fieldset class="fieldset_aboutme">
                <legend>💡 Enfoque y filosofía</legend>
                <p class="parrafo_about_me">Me desempeño mejor en un ambiente estructurado y tranquilo, donde la creatividad y la eficiencia van de la mano. Mi interés en la tecnología va más allá de la programación; busco aplicar soluciones innovadoras que generen un impacto positivo, especialmente en el ámbito del <b>medio ambiente y la sostenibilidad</b>.</p>
            </fieldset>
            <br>
            <fieldset class="fieldset_aboutme">
                <legend>🌍 Principio personal</legend>
                <p><em>"Podemos mejorar nuestro entorno a través de la tecnología, siempre con responsabilidad y visión a futuro."</em></p>
            </fieldset>
            <br>
            <fieldset class="fieldset_aboutme">
                <legend>🎯 Motivación</legend>
                <p class="parrafo_about_me">Desde el inicio, la tecnología ha sido para mí un desafío intelectual y una forma de superación. Ahora, mi objetivo es integrar el <b>pensamiento crítico, la innovación y el desarrollo tecnológico</b> para aportar soluciones funcionales y sostenibles.</p>
            </fieldset>
            <br>
            <fieldset class="fieldset_aboutme">
                <legend>🎵 Más allá del código</legend>
                <p class="parrafo_about_me">Fuera del trabajo, disfruto de <b>salir a caminar, meditar, explorar la filosofía (especialmente el estoicismo), ver películas y escuchar música de diferentes géneros.</b></p>
            </fieldset>
        </div>
    </body>
</html>