<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habilidades</title>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> <!-- Icono de HTML -->

    
</head>
<body>
    <div class="container_habilidades">
        <h1>Habilidades</h1>
        <p>Estas son las tecnologías y herramientas con las que trabajo:</p>
        
        <fieldset class="fieldset_habilidades">
            <legend class="legend_habilidades">Front-end</legend>
            <ul>
                <li>HTML<i class="fa-brands fa-html5 icon icon-html"></i></li>
                <li>CSS<i class="fa-brands fa-css3-alt icon-css"></i></li>
                <li>JavaScript<i class="fa-brands fa-js icon-js"></i></li>
            </ul>
        </fieldset>
        
        <fieldset class="fieldset_habilidades">
            <legend class="legend_habilidades">Electrónica</legend>
            <ul>
                <li>MPLAB X<img src="https://i.postimg.cc/7hP24yMV/mplabx-icon.png" alt="Logo de Proteus Design Suite" class="icon-mplabx"></li>
                <li>Proteus Design Suite<img src="https://i.postimg.cc/vBGrcxw7/Proteus.png" alt="Logo de Proteus Design Suite" class="icon-proteus"></li>
            </ul>
        </fieldset>
        
        <fieldset class="fieldset_habilidades">
            <legend class="legend_habilidades">Lenguajes de Programación</legend>
            <ul>
                <li>Python<img src="https://i.postimg.cc/gJSVtJ3p/python-icon.png" alt="Icono de Python" class="icon-python"></li>
                <li>C, C++<img src="https://i.postimg.cc/NF7kd88z/c-icon.jpg" alt="Icono de C" class="icon-C"><img src="https://i.postimg.cc/RhzT1ptt/cplusplus.png" alt="Icono de C++" class="icon-cplusplus"></li>
            </ul>
        </fieldset>
        
        <fieldset class="fieldset_habilidades">
            <legend class="legend_habilidades">Control de Versiones</legend>
            <ul>
                <li>Git<i class="fa-brands fa-git-alt"></i></li>
                <li>GitHub<i class="fa-brands fa-github"></i>
                </li>
            </ul>
        </fieldset>
        
        <fieldset class="fieldset_habilidades">
            <legend class="legend_habilidades">Herramientas de Desarrollo</legend>
            <ul>
                <li>VS Code<img src="https://i.postimg.cc/Z5GxpPQp/vscode-icon.png" alt="Icono de VS Code" class="icon-vscode"></li>
                <li>ChatGPT<img src="https://i.postimg.cc/ZRSHqjr7/chat-gpt-icon.jpg" alt="Icono de Claude" class="icon-claude"></li>
                <li>Claude<img src="https://i.postimg.cc/GtXTxfF7/claude-icon.png" alt="Icono de Claude" class="icon-claude"></li>
            </ul>
        </fieldset>
    </div>
</body>
</html>