<!-- proyectos.html -->

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proyectos | Marcos B. Calixto</title>
    </head>
    <body>
        <div class="container_habilidades">
            <h1>Proyectos 🚀</h1>
            <p>Aquí encontrarás algunos de los proyectos en los que he trabajado.</p>
            <br>
            <fieldset>
                <legend>📌 Nombre del Proyecto 1</legend>
                <p>
                    <b>Descripción:</b> Breve explicación de qué hace el proyecto.
                    <br>
                    <b>Tecnologías usadas:</b> HTML, CSS, JavaScript.
                    <br>
                    🔗<a href="https://github.com/MarcosBernardC/SnakeC">Ver en GitHub</a>
                    🌎<a href="https://www.youtube.com/watch?v=6HKV96FBGK0">Demo</a>
                </p>
            </fieldset>
            <br>
            <fieldset>
                <legend>Nombre del Proyecto 2</legend>
                <p>
                    <b>Descripción:</b> Explicación corta del proyecto.
                    <br>
                    <b>Tecnologías usadas:</b> Python, Flask, SQL.
                    <br>
                    🔗<a href="https://github.com/MarcosBernardC/init-project.git">Ver en GitHub</a>
                    🌎<a href="https://www.youtube.com/watch?v=6n2PLwCwrmI">Demo</a>
                </p>
            </fieldset>

        </div>
    </body>
</html>