@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');


.menu-lateral {
    width: 220px;            /* Ancho del menú */
    height: 100vh;           /* Ocupa toda la altura */
    background-color: #1e1e1e;  /* Color de fondo */
    position: fixed;         /* Se queda fijo al hacer scroll */
    top: 0;
    left: 0;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif; /* Fuente moderna */
    box-shadow: 2px 0 5px rgba(0,0,0,0.5); /* Sombra sutil */
}

.menu-lateral a {
    display: block;          /* Alineamos el icono y el texto en una fila */
    color: #fff;            /* Texto en blanco */
    padding: 15px 25px;           /* Espaciado interno */
    text-decoration: none;   /* Quitamos el subrayado de los enlaces */
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;        /* Suavizamos todas las transiciones */
    border-left: 3px solid transparent; /* Línea lateral para la selección */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Sombra sutil */
}

.menu-lateral a:hover {
    background-color:#333; /* Oscurecer fondo al pasar el mouse */
    border-left: 3px solid #00c3ff; /* Efecto de línea azul */
    font-weight: 600; /* Negrita al pasar el mouse */
}

#main-content{
    padding: 20px;
    margin-left: 250px;
    font-family: 'Poppins', sans-serif; /* Fuente moderna */ 
}

.contacto-imagen {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 25vw;  /* La imagen ocupará el 25% del ancho de la ventana */
    height: calc(30vw / 1); /* Se mantiene la proporción 2.5:1 */
    max-width: 500px; /* Tamaño máximo para evitar que sea demasiado grande */
    min-width: 0px; /* Tamaño mínimo para pantallas pequeñas */
    
    object-fit: cover; /* Asegura que la imagen se vea bien */

    /* Difuminado con mask-image */
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    
    /* Alternativa con box-shadow */
    box-shadow: 0px 0px 30px 15px rgba(255, 255, 255, 0.9);
}

.icon{
    display: inline-flex; /* Permite mejor control del margen */
    margin-left: 8px; /* Agrega espacio entre el texto y el icono */
    vertical-align: middle; /* Asegura alineación con el texto */
    width: 25px;
    height: 25px;
}

ul li{
    margin-bottom: 11px;
}